* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
/*  background: radial-gradient(circle at top center, #333 0%, #111 100%);*/
    background: black;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #fff;
}

.credits {
    animation: 3s credits linear infinite;
    /*    animation-duration: 60s;*/
}

.paused_credits {
    animation-play-state: paused;
}

th {
  width: 50%
  padding-bottom: 10px;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
  text-transform: capitalize;
}

.job {
  font-size: 18px;
  text-transform: capitalize;
  text-align: right;
  padding-right: 10px;
}

.name {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
}

@keyframes credits {
    from { top:  90%; }
    to { top: -500%; }
}

.color-black {
  color: black !important;
}